body {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #dc143c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    font-size: 25px;
    color: #fff8dc;
    text-decoration: none;
    font-weight: 600;
    margin-right: 10px;
}
    
.navbar a {
    font-size: 18px;
    color: #fff8dc;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 30px;
}

.navbar a:hover,
.navbar a.active {
    color: #fa8072;
}

.home {
    display: flex;
    background: url('home_background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #dc143c;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #fa8072;
}

.home-content p {
    font-size: 16px;
    color: #fa8072;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #dc143c;
    border-radius:  50%;
    font-size: 20px;
    color: #fa8072;
    text-decoration: none;
}

.aboutme {
    display: flex;
    background: url('aboutme_bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    padding-right: 20px;
}

.aboutme-content {
    text-align: right;
}

.aboutme-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #dc143c;
    padding-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 90px;
}

.aboutme-content p {
    font-size: 20px;
    color: #fa8072;
    text-align: center;
    margin-left: 50%;
    margin-right: 0;
    font-family: 'Times New Roman', Times, serif;
}

.aboutme-content h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fa8072 ;
    padding-top: 15px;
    margin-left: 700px;
    align-items: right;
}

.academics {
    display: flex;
    background: url('academics_bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 100vh;
    padding-right: 20px;
}

.academics-content {
    text-align: left;
    margin-left: 50%;
}

.academics-content h2 {
    font-size: 56px;
    font-weight: 700;
    margin-top: 15%;
    padding-bottom: 0;
    color: #dc143c;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.academics-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 2%;
    padding-top: 0;
    color: #dc143c;
    font-style: italic;
    align-items: right;
}

.academics-content ul {
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    color: #fa8072;
    align-items: right;
}

.academics-content ol {
    font-size: 15px;
    font-weight: 700;
    color: #fa8072;
    align-items: right;
}


.activities {
    display: flex;
    background: url('activities_bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 100vh;
    padding-right: 20px;
}

.activities-content h2 {
    font-size: 56px;
    font-weight: 700;
    color: #dc143c;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 1%;
    margin-top: 65px;
    margin-left: 70%;
}

.activities-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 1%;
    padding-top: 0;
    color: #dc143c;
    font-style: italic;
    margin-left: 69%;
    align-items: right;
}

.activities-content ul {
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    margin: 0;
    color: #fa8072;
    align-items: right;
    margin-left: 1000px;
}

.activities-content ol {
    font-size: 15px;
    font-weight: 700;
    color: #fa8072;
    margin: 0;
    align-items: right;
    margin-left: 1000px;
}